# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
Engine/[Bb]in/
Engine/[Oo]bj/
Engine/_UpgradeReport_Files/
Engine/[Pp]ackages/
Editor/[Bb]in/
Editor/[Oo]bj/
Editor/_UpgradeReport_Files/
Editor/[Pp]ackages/
GameProject/[Bb]in/
GameProject/[Oo]bj/
GameProject/_UpgradeReport_Files/
GameProject/[Pp]ackages/

Thumbs.db
**/Desktop.ini
.DS_Store
